*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --navy-blue:#051527;
    --bluish-green:#1683a0;
    --light-blue:#b8e0e1;
    --magenta:#2e1f37;
    --olive-green:#0c3c42;
    --purple:#3e4894;
    --dark-purple:#322b5b;
    --bright-purple:#662e68;
    --light-purple:#b0b8db;
    --dark-grey:#4e5572;

    --transition: all 400ms ease;

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--light-blue);
    background-color: var(--navy-blue);
}
.container{
        width: var(--container-width-lg);
        margin: 0 auto;
}
a{
    color: var(--light-blue);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
section{
    padding: 5rem 0;

}
.btn{
    color: var(--dark-purple);
    background-color:var(--light-purple);
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 600;
    transition: var(--transition);
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.btn:hover{
    color: var(--light-purple);
    background-color: transparent;
    border-color: var(--light-purple);
}
nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    background:transparent;
}
.window-scroll{
    background-color: var(--dark-purple);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;
    text-transform: capitalize;
    font-weight: 550;
    
}
.nav_menu a{
    transition: var(--transition);
    font-size: 1rem;
}
.nav_menu a:hover{
    color: black;
}
header{
    position: relative;
    top: 7rem;
    height: 90vh;
    overflow:hidden;
    margin-bottom: 5rem;
}
.header_container{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header_left h1{
    font-size: 2.5rem;
}
.header_left p{
    margin: 1rem 0rem 1.5rem 0rem;
}
.btn-primary{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}
.categories{
    background-color:var(--dark-purple);
    height: 28rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 45% 55%;
    gap:4rem;
}
.categories_left h1{
    font-size: 3.5rem;
    text-transform: capitalize;
    line-height: 4rem;
}
.categories_left p{
    margin: 1rem 0rem 3rem 0rem;
}
.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
}
.category{
    background-color:var(--bright-purple);
    padding: 2rem;
    border-radius: 1.8rem;
    transition: var(--transition);
}
.category:hover{
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
} 
.icon_categories{
    background-color:var(--light-purple);
    color: var(--navy-blue);
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.category:nth-child(2) .icon_categories{
    background: var(--bluish-green);
}
.category:nth-child(3) .icon_categories{
    background: var(--dark-grey);
}
.category:nth-child(4) .icon_categories{
    background:var(--dark-purple);
}
.category:nth-child(5) .icon_categories{
    background: var(--light-blue);
}
.category:nth-child(6) .icon_categories{
    background: var(--dark-purple);
}
.category h4{
    text-transform: capitalize;
    margin: 1.3rem 0rem 1rem 0rem;
}
.category p{
    font-size: 0.95rem;
}
.courses{
    margin-top: 10rem;
    text-align: center;
}
.courses h2{
    margin-bottom: 3rem;
    font-size: 2.5rem;
    text-transform: capitalize;
}
.courses_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.course{
    background-color:var(--dark-purple);
    border: 2px solid transparent;
}
.course:hover{
    background-color: transparent;
    transition: var(--transition);
    border-color: var(--bright-purple);
}
.course-image img{
    width: 100%;
    height: 40vh;
}
.course_info{
    padding: 2rem;
}
.course_info h3{
    text-transform: capitalize;
    font-size: 1.5rem;

}
.course_info p{
    margin: 1rem 0rem 2rem 0rem;
    
}
.faqs{
    margin-top: 10rem;
    background-color: var(--dark-purple);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.8);
}
.faqs h2{
    text-align: center;
    font-size: 2rem;
}
.faqs_container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.faq{
    background-color: var(--bright-purple);
    padding: 2rem;
    display: flex;
    gap: 1.2rem;
    height: fit-content;
    align-items: center;
    cursor: pointer;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1rem;
}
.faq p{
    margin-top: 1.5rem;
    display: none;
}
.faq.open p{
    display: block;
}
.testimonials_container{
    overflow-x: hidden;
    margin-bottom: 5rem;
    position: relative;
}
.testimonials_container h3{
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}
.testimonial{
    padding: 2rem 0 0 0;
}
.avatar{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--magenta);
}
.student_info{
    text-align: center;
}
.testimonial_body{
    background-color: var(--bright-purple);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}
.testimonial_body::before{
    content:"";
    background:linear-gradient(135deg, transparent, var(--bright-purple), var(--bright-purple));
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}